<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Job Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
</head>

<body>
  <h1>Search results</h1>
	<h3>There're {{resultsNumber}} results for: {{gotWord}}.</h3>
  <a href="/export?word={{gotWord}}">Export to CSV file</a>
  <section>
    <div class="title">
      <h4>Title</h4>
      <h4>Company</h4>
      <h4>Location</h4>
      <h4>Link</h4>
    </div>
    {%for job in jobs%}
      <div class="content">
        <span>{{job.title}}</span>
        <span>{{job.company}}</span>
        <span>{{job.location}}</span>
        <a href="{{job.link}}">Apply</a>
      </div>
    {%endfor%}
  </section>
</body>
</html>